section {
  padding: 8rem 0;
}

.section-meals {
  padding: 0;
}

.section-steps {
  background-color: $color-dark-1;
}

.section-testimonials {
  background-image: linear-gradient(rgba($color-black, 0.85),
      rgba($color-black, 0.85)),
    url("img/back-customers.jpg");
  background-size: cover;
  color: $color-white;
  background-attachment: fixed;
}

.section-plans {
  background-color: $color-dark-1;
}

footer {
  background-color: $color-black-1;
  padding: 5rem 0;
  font-size: 16px;
  color: $color-dark-2;
  text-align: center;
}