.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba($color-white, .99);
    z-index: +1;
    box-shadow: 0 2px 2px rgba($color-dark-2, .7);

    .header {
        &__logo {
            display: none;
        }

        &__logo--black {
            display: initial;
            height: 5rem;
            padding: 3px 0;
        }
    }

    .nav-list {
        &__link {

            &:link,
            &:visited {
                color: $color-black;
                padding: 1.1rem 0;
            }
        }
    }

    .u-mt--m {
        margin-top: 1.8rem;
    }

    .u-mt--xs {
        margin-top: .3rem;
    }
}

.nav-list {
    float: right;
    list-style: none;

    &__item {
        display: inline-block;
        margin-left: 4rem;
    }

    &__link {

        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.8rem;
            border-bottom: 2px solid transparent;
            padding: .5rem 0;
            transition: all .2s;
        }

        &:hover,
        &:active {
            border-bottom: 2px solid $color-orange;
        }
    }
}

.footer-nav,
.social-links {
    list-style: none;
    text-align: start;
    margin-bottom: 2rem;

    li {
        display: inline-block;
        margin-right: 20px;

        a {
            color: $color-dark-2;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            padding-bottom: 5px;
            transition: all .2s;

            &:hover {
                border-bottom: 1px solid $color-white;
                color: $color-white;
            }
        }
    }
}

.social-links {
    text-align: end;
}